<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.sayori.pinshift.controller</string>
  <key>ProgramArguments</key>
  <array>
    <string>__CONTROLLER_EXECUTABLE__</string>
    <string>link</string>
    <string>serve</string>
    <string>--device</string>
    <string>__ACTIVE_TEST_DEVICE__</string>
    <string>--developer-directory</string>
    <string>__DEVELOPER_DIRECTORY__</string>
    <string>--pairing-code-file</string>
    <string>__PAIRING_CODE_FILE__</string>
    <string>--pairing-code-validity-seconds</string>
    <string>3600</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>__LOG_FILE__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_FILE__</string>
</dict>
</plist>
